
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');



html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* TITLE SECTION */

#title {
  background-color: #F58840/*#ff4c68*/
}

#main-heading {
  font-family: 'Poppins', sans-serif;
  color: transparent;
  text-shadow: 0 0 10px white;
  font-weight: 900;
  font-size: 3rem;
  line-height: 4rem;
  margin-left: 2%;
  animation: kill-blur 0.5s ease-out forwards 0.75s;
}

@keyframes kill-blur {
  to {
    color: white;
    text-shadow: none;
  }
}

.container-fluid {
  padding: 3% 15%;
}

#play-store-img {
  width: 3%;
}

#main-img {
  position: absolute;
  top: 15%;
  z-index: 1;
}


#tune-img {
  position: absolute;
  width: 350px;
  top: 10%;
  right: 5%;
  animation: img-blur 1.5s ease backwards;
}

@keyframes img-blur {
  0% {
    filter: blur(5px);
    transform: translateY(50%);
  }

  80% {
    transform: translateY(-3%);
  }

  100% {
    filter: none;
    transform: translate(0);
  }
}

#apple-icon {
  width: 20px;
}

#top-buttons {
  margin-left: 2%;
  animation-name: moveInTop;
  animation-duration: 1s;
  animation-timing-function: ease-out ;
}

.app-store-btn {
  animation: moveInTop 1s ease-out;
}

.play-store-btn {
  animation: moveInTop 1.1s ease-out;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    opacity: 0.8;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


/* NAVBAR */

.navbar-brand {
  font-size: 2.4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
  font-weight: bolder;
}
.nav-item {
  padding-left: 5px;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* FEATURES SECTION */

#features {
  text-align: center;
  background-color: white;
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
  z-index: 2;
}

.heading {
  font-weight: bolder;
  font-size: 1.5rem;
}
.subheading {
  font-weight: lighter;
  width: 70%;
  margin: 0 auto;
}

.feature-item {
  padding-bottom: 3%;
}

.feature-icons {
  padding-bottom: 5%;
  color: #F0BB62;
}

.feature-icons:hover {
  color: #F58840;
}


/* TESTIMONIAL SECTION */

#testimonials {
  text-align: center;
  background-color: #F58840;
  color: white;
  position: relative;
  z-index: 2;
}

.comment {
  font-size: 2.5rem;
  font-weight: 700;
}

.testimonial-img {
  margin: 5% 1% 5% 1%;
  border-radius: 50%;
  width: 10%;
}
.name {
  align-items: center;
  font-weight: 600;
}
.carousel-item {
  padding: 4% 11%;
}

/* PRESS SECTION */

#press {
  background-color: #F58840;
  text-align: center;
  padding-bottom: 5%;
  position: relative;
}

.company-logo {
  width: 10%;
  margin: 2% 2% 4%;
}

/* PRICING SECTION */

#pricing {
  text-align: center;
  padding-top: 3%;
  position: relative;
  background-color: white;
}

.all-pricings {
  text-align: -webkit-center;
  padding: 3%;
}
.price-item {
  padding-bottom: 3%;
}

/* CALL TO ACTION SECTION */
#cta {
  text-align: center;
  position: relative;
  background-color: #F58840;
  padding-top: 3%;
}

/* NEWSLETTER SECTION */
.newsletter {
  padding: 80px 0;
  background: #F58840;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}
.newsletter .content h2 {
  margin-bottom: 40px; 
}
.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}
.newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
  font-weight:600;
}

/* FOOTER SECTION */
#footer {
  padding: 5% 5% 2% 5%;
  background-color: #F58840;
  text-align: center;
  position: relative;
}

#bottom-buttons {
  padding-top: 2%;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}
.footer-icon {
  padding: 5px;
}

.footer-icon:hover {
  color: white
}

#footer p {
  padding-top: 2%;
}






/* MEDIA QUERIES */

@media all and (max-width: 1400px) {
  #tune-img {
    display: none;
  }
}

@media all and (max-width: 991px) {

  #title {
    text-align: center;
  }
  #main-img {
    position: static;
    width: 40%;
    display: none;
  }

  #tune-img {
    position: static;
    display: block;
    margin: 0 auto;
  }

  #main-heading {
    font-size: 2rem;
    line-height: 3rem;
  }
  .comment {
  font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  #tune-img{
    display: none;
  }

  #top-buttons {
    animation: none;
  }
}






